@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap");
html, * {
  font-family: 'Mukta', sans-serif;
  font: 16px/1.5;
  color: #333;
}

h1, .h1-like {
  font-family: 'Zen Loop', cursive;
  font-size: 6em;
  color: white;
}

h2, .h2-like {
  font-size: 3em;
  color: white;
  font-family: 'Zen Loop', cursive;
}

h3, .h3-like {
  font-size: 2em;
  font-family: 'Zen Loop', cursive;
}

h4 {
  font-family: 'Zen Loop', cursive;
  font-size: 1.4em;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: block;
  background-image: url("https://images.unsplash.com/photo-1620398722262-969d8f2bc875?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
  color: #fff;
  /* box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5); */
  min-height: 90vh;
}

header::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

article {
  border-bottom: 0.1em solid #d3d3d3;
  padding: 2em;
}

article:first-child {
  margin-top: 35em;
}

.article {
  display: -ms-grid;
  display: grid;
}

.article__content {
  grid-area: description;
  margin: 2em;
  padding: 2em;
}

.article__media {
  grid-area: media;
}

.article--odd {
  background-color: white;
  display: -ms-grid;
  display: grid;
      grid-template-areas: media description;
}

.article--odd .article__content {
  background-color: #f8f8f8;
}

.article--even {
  background-color: #f8f8f8;
  display: -ms-grid;
  display: grid;
      grid-template-areas: description media;
}

.article--even .article__content {
  background-color: white;
}

.c-btn {
  padding: 0.5em 1em;
  text-transform: uppercase;
}

main {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 55;
  width: 100%;
  border-bottom: 0.2em solid #b8b8b8;
}

header a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

nav ul li {
  display: block;
  list-style: none outside;
  padding: 0 0.5em;
  -webkit-transform: translate(0, -5em);
          transform: translate(0, -5em);
  opacity: 1;
  -webkit-transition: opacity 1s ease-in, -webkit-transform 1s ease-in;
  transition: opacity 1s ease-in, -webkit-transform 1s ease-in;
  transition: opacity 1s ease-in, transform 1s ease-in;
  transition: opacity 1s ease-in, transform 1s ease-in, -webkit-transform 1s ease-in;
}

nav ul li:nth-child(1) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

nav ul li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

nav ul li:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

nav ul li:nth-child(4) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

nav ul li:nth-child(5) {
  -webkit-transition-delay: 0.0s;
          transition-delay: 0.0s;
}

.loaded nav ul li {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  height: 100%;
}

nav ul li a {
  display: block;
  padding: 1em 1em;
  border-radius: 0.2em;
  border-radius: 0.5em;
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

nav ul li a:hover {
  background: rgba(0, 0, 0, 0.9);
}

.title {
  overflow: hidden;
  /* color: grey; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  /* opacity: 0.4; */
}

header section {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

header section h2,
header section h1 {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out 0.6s, -webkit-transform 0.5s ease-in-out 0.6s;
  transition: opacity 0.5s ease-in-out 0.6s, -webkit-transform 0.5s ease-in-out 0.6s;
  transition: opacity 0.5s ease-in-out 0.6s, transform 0.5s ease-in-out 0.6s;
  transition: opacity 0.5s ease-in-out 0.6s, transform 0.5s ease-in-out 0.6s, -webkit-transform 0.5s ease-in-out 0.6s;
}

header section h1 {
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  opacity: 0;
}

header section h2 {
  -webkit-transform: translateX(50vw);
          transform: translateX(50vw);
  opacity: 0;
}

.loaded header section h1 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.loaded header section h2 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 1em;
          column-gap: 1em;
  text-align: center;
}

.team-member {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-member__img {
  height: 13em;
  width: 13em;
  border: 0.1em solid #333;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.team-member__description {
  text-align: left;
}

.banner {
  position: absolute;
  bottom: -30em;
  left: 18%;
  background: #f8f8f8;
  max-width: 70%;
  z-index: 6;
  padding: 2em;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border: 0.2em solid #f8f8f8;
  border-radius: 0.5em;
  text-align: center;
}

.banner__title {
  padding-bottom: 1em;
}

.banner p {
  padding-bottom: 1em;
}

.u-hidden {
  display: none;
}

.u-visible {
  display: block;
}
