.projects{
    display: grid;
    // grid-template-rows: repeat(4, 1fr);
    column-gap: 2em;
    row-gap: 2em;
    
    @include for-desktop-up{
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        height: auto;

    }
}

.project{

    padding: 3em;
    
    background-color: $paleGrey;
    border-radius: 0.5em;
    border-bottom: 10px solid $paleGrey;
    display: grid;

    @include BoxShadow(2);

    transition: all 0.5s ease-in;
    transition-property: background-color, border, box-shadow;
    // transition: border 1s ease;
    

    &:hover{
        background-color: $darkYellow;
        border-bottom: 10px solid $paleGreen;
        @include BoxShadow(4);

    }

    & h3{
        // padding-bottom: 1em;
    }

    & a {

    }

    & p{
        padding: 1em 0;
    }
    
    &-buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3em;
        align-self: flex-end;
        & a{
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}

.animate-project{
    animation-duration: 2s;
    animation-name: slide-in;

}