.article{
    // max-width: 70%;
    border-bottom: 0.1em solid #d3d3d3;
    // @include BoxShadow(2);
    padding: 2em;

    &__title{        
        &-subline{

        }
    }

    &__initial-content{

    }

    &__read-more-content{
        
    }
    
    &--odd{
        background-color: white;
    }

    &--even{
        background-color: $background-light;
        // z-index: 2;

    }
}

