$paleGrey: #EDEAE5;

$darkYellow: #FCE181;
$paleYellow: #FEF9C7;

$darkGreen: #026670;
$paleGreen: #9FEDD7;


// $yellow: #FBE8A6;
// $orange: #F4976C;
// $darkBlue: #303C6C;
// $blue: #B4DFE5;
// $whiteBlue: #D2FDFF;


// $pastelFirst: #fff8c0;

// $pastelSecond: #ebfbff;

// $pastelThird: #ffd2c9;

// $pastelDark: #202d5a;