a {    
    text-decoration: none;
    color: $darkGreen;
    background-color: $paleGreen;

    display: inline-block;
    padding: 0.5em;
    margin: 0 auto;

    // border: 1px solid $darkGreen;
    border-radius: 0.5em;

    transition: all 0.5s ease-in;
    transition-property: background-color, color;
    @include BoxShadow(2)


    &:hover{
        color: $darkYellow;
        background-color: $darkGreen;
        @include BoxShadow(2)
    }
}