header{
    height: 60vh;
    overflow: hidden;
    position: relative;
    display: flex;
    // align-items: center;
    padding: 5% 0;
}

header ::after{
    content: "";
    rotate: -5deg;
    // display: block;
    height: 50%;
    width: 160%;
    position: absolute;
    left: -10%;
    bottom: -30%;
    z-index: 1;
    background-color: $paleYellow;
    @include BoxShadow(inset2);
}