header{
    overflow: hidden;
    position: relative;
    padding: 5% 0;

    height: 30vh;
    // .o-wrapper{
    //     position: relative;
    //     overflow: hidden;

    // }
}

header::after{
    content: "";
    transform: rotate(-5deg);
    // display: block;
    height: 8em;
    width: 120%;
    position: absolute;
    left: -10%;
    bottom: -12%;
    z-index: 0;
    background-color: $paleYellow;
    @include BoxShadow(inset2);
}