li {
    list-style: none;
    padding: 1em;
    background-color: $paleGrey;
    display: inline-block;
    border-radius: 1em;
    @include BoxShadow(2);
    min-width: 6em;

    display: flex;
    justify-content: space-between;
}