footer {
    // position: relative;
    .o-wrapper{
        display: grid;
        align-items: left;
        column-gap: 3em;
        padding-bottom: 2em;
        justify-content: center;

        @include for-desktop-up{
            grid-template-columns: max-content max-content;

        }
        
        & > div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 25em;
        }

    }
}