$pastelFirst: #EDEAE5;

$pastelSecond: #9FEDD7;

$pastelThird: #FEF9C7;

$pastelForth: #FCE181;

$pastelDark: #026670;

// $pastelFirst: #fff8c0;

// $pastelSecond: #ebfbff;

// $pastelThird: #ffd2c9;

// $pastelDark: #202d5a;