@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

html, * {
    font-family: 'Mukta', sans-serif;
    font: 16px/1.5;
    color: $primary-color;
}

h1, .h1-like{
    font-family: 'Mukta', sans-serif;
    font-size: 6em;
    color: white;
}

h2, .h2-like{
    font-size: 3em;
    color: white;
}

h4 {
    font-size: 1.4em;
    // color: white;
}